:root {
  --branding-color: #ff7e67;
  --primary-color: #35495e;
  --secondary-color: #347474;
  --tertiary-color: #42b883;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --default-font-family: "Comfortaa", sans-serif;
  --headline-font-family: "Averia Serif Libre", serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3 {
  font-family: var(--headline-font-family);
}

h1 {
  font-size: 68px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 20px;
  color: var(--primary-color);
  text-align: justify;
}

.logo {
  max-height: 50px;
}

nav li {
  line-height: 50px;
  margin-left: 10px;
}

.navbar-nav a:hover,
.navbar-nav .nav-link.active {
  color: var(--branding-color);
}

.navbar-nav .nav-link.active {
  font-weight: bold;
}

.hero {
  background: var(--tertiary-color);
  text-align: left;
  padding: 40px 20px;
}

.hero img {
  max-height: 400px;
  border-radius: 50% 2% 50% 50%;
}

.hero .about-image {
  border-radius: 50% 50% 50% 2%;
}

.hero-content {
  margin-left: 60px;
}

.btn-branding,
.btn-branding-secondary {
  padding: 10px 20px;
  margin-right: 30px;
}

.btn-branding a,
.btn-branding-secondary a {
  text-decoration: none;
  color: white;
}

.btn-branding {
  background: var(--branding-color);
  color: white;
}

.btn-branding-secondary {
  background: var(--primary-color);
}

.btn-branding:hover {
  background: var(--branding-color);
  opacity: 90%;
  color: white;
}

.btn-branding-secondary:hover {
  background: var(--secondary-color);
}

.content-container {
  margin: 40px 0;
}

.project-description p {
  font-size: 14px;
}

footer {
  margin: 20px 0;
}

footer .contact-box {
  background: var(--primary-color);
  padding: 20px 100px;
  color: white;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

footer .social-links a {
  margin: 0 10px;
  color: var(--branding-color);
  background-color: var(--primary-color);
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--primary-color);
  background-color: var(--branding-color);
}

footer p {
  font-size: 14px;
}

footer p a {
  text-decoration: none;
  color: var(--tertiary-color);
}

footer .simple-footer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 20px;
}

@media (max-width: 990px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .col-md-6 {
    text-align: center;
  }

  .logo {
    max-height: 40px;
  }
}
